<p>
    <mat-toolbar color="primary">

      <span>Administracion De usuarios</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" routerLink="/dashboard" class="boton"><mat-icon>home</mat-icon> Inicio</button>
      <button mat-raised-button color="primary" class="boton" routerLink="/dashboard/usuarios"><mat-icon>account_circle</mat-icon> Usuariarios</button>
      <button mat-raised-button color="primary" class="boton" routerLink="/dashboard/reportes"><mat-icon>newspaper</mat-icon> Reportes</button>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>